### **Перевірка даних на нормальність за допомогою критерію Шапіра-Уілка**

 

1.   Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20.

In [69]:
import pandas as pd
import numpy as np
import scipy.stats as sts 
from operator import sub 
import matplotlib.backends.backend_pdf

In [23]:
data={}
data["Normal Distribution_1"]=(np.random.normal(size=20))  
data["Normal Distribution_2"]=(np.random.normal(size=20))  
data["Normal Distribution_3"]=(np.random.normal(size=20))  
data["Uniform Distribution1"]=(np.random.uniform(low=1,high=2,size=20))
data[" Beta distribution."]=(np.random.beta(1,2,size=20))
data["Uniform Distribution2"]=(np.random.uniform(size=20))


print(data)

{'Normal Distribution_1': array([-1.94358764,  0.96087983, -0.76050724, -0.25700468,  1.40125719,
        1.67921442, -0.31324439, -0.36729697,  0.36093838, -0.65071132,
        1.07014837,  0.9083741 ,  1.36432854, -0.17777177, -1.61469726,
       -0.65167619, -0.26126972, -0.71214566, -0.68020173, -0.11141305]), 'Normal Distribution_2': array([-0.30566803,  0.27916266, -0.79197458, -2.02612427, -0.7923848 ,
       -0.52786344, -1.88142524,  0.61333942, -0.36441233, -1.2879483 ,
       -0.66360642, -1.17568062, -0.81410997,  1.23171579, -1.13434467,
       -0.15431742,  0.836862  , -0.14397127,  0.21607087, -0.14585737]), 'Normal Distribution_3': array([ 2.1628961 , -2.04016962,  0.18613512,  0.41816004,  0.5581028 ,
        1.22512265,  0.1875037 ,  0.98759069, -0.01017952, -0.82732818,
       -0.24091248,  0.30708985, -0.5017402 ,  0.60933272, -1.45697718,
       -0.50093722,  0.70383701,  0.7394592 , -0.34313771, -0.46384841]), 'Uniform Distribution1': array([1.23666416, 1.22191044, 1.28890429, 1.68105027, 1.95338521,
       1.97120658, 1.31128705, 1.01761245, 1.25645626, 1.14947063,
       1.50769785, 1.33521157, 1.32915588, 1.63627393, 1.42531077,
       1.43293891, 1.72411427, 1.49689931, 1.82089905, 1.65160096]), ' Beta distribution.': array([0.60819201, 0.73874785, 0.6864759 , 0.67553984, 0.12101457,
       0.49668672, 0.39324483, 0.56193056, 0.09593653, 0.01789457,
       0.42200249, 0.51961529, 0.09271582, 0.19924839, 0.57356841,
       0.82917852, 0.58160263, 0.09193101, 0.46667895, 0.20639238]), 'Uniform Distribution2': array([0.9950663 , 0.8388367 , 0.05053285, 0.61336262, 0.83355192,
       0.22844545, 0.07776567, 0.69643615, 0.35603467, 0.28826218,
       0.84783026, 0.39519178, 0.68605001, 0.9131151 , 0.2550522 ,
       0.18500176, 0.64975013, 0.7941654 , 0.46242784, 0.87038342])}

2.   Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних.
Детальний опис роботи критерію та приклад його розрахунку (с. 606):
https://pdfs.semanticscholar.org/e4a7/42a4f0585b4e4069726f6628f4d4285a0827.pdf

In [24]:
def dem_Sh_Uil(data, num_of_var ,num_of_observations=20):  
    for val in data.values():    
       val.sort()  
    s=[]
    for val in data.values(): 
        s.append(sum([ (i - np.mean(val)) **2 for i in val]))
    print(s)
    ex1=pd.read_excel('Coeficients for the W test for normality.xlsx')[num_of_observations-1]/10000   
    b=[]
    for value in data.values(): 
        first_half=value[:len(value)//2]
        second_half=np.flip(value[len(value)//2:])
        to_append = np.multiply(ex1[:10], (second_half-first_half))
        b.append(to_append) 
    print(b)
    arr_with_s=[]
    for i in range(len(b)):
         arr_with_s.append(((i)**2)/s[i])
    for i in range(len(arr_with_s)):
        if arr_with_s[i]>0.905:
            print('not norm')
        else:
            print('norm')
        

     
dem_Sh_Uil(data,6,20)

[18.832439103854522, 13.540573359794921, 16.937067113125032, 1.3481205620884382, 1.1944782645932985, 1.7324303494953786]
[0    1.741843
1    0.974756
2    0.544170
3    0.366974
4    0.269301
5    0.198282
6    0.094286
7    0.015660
8    0.004105
9    0.000000
Name: 19, dtype: float64, 0    1.566369
1    0.878550
2    0.486920
3    0.299552
4    0.221603
5    0.085175
6    0.060256
7    0.039025
8    0.010846
9    0.000000
Name: 19, dtype: float64, 0    2.020834
1    0.866855
2    0.464801
3    0.255563
4    0.197703
5    0.136401
6    0.083996
7    0.040335
8    0.009613
9    0.000000
Name: 19, dtype: float64, 0    0.458488
1    0.259825
2    0.153401
3    0.100366
4    0.069676
5    0.046099
6    0.030289
7    0.010927
8    0.004899
9    0.000000
Name: 19, dtype: float64, 0    0.390065
1    0.209051
2    0.152062
3    0.119340
4    0.079946
5    0.048597
6    0.034221
7    0.010324
8    0.002958
9    0.000000
Name: 19, dtype: float64, 0    0.454132
1    0.269985
2    0.175526
3    0.127531
4    0.095799
5    0.069306
6    0.040834
7    0.018436
8    0.006776
9    0.000000
Name: 19, dtype: float64]
norm
norm
norm
not norm
not norm
not norm

3. Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution.
Шаблон таблиці:
https://drive.google.com/file/d/1gRNsk9UDhl_6GGkJ04q0cBWBgsJvTgI4/view?usp=sharing

In [25]:
table=pd.DataFrame(columns=["Variable","Statistics","Distribution"]) 
table

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

4. Занести в стовпчик Variable назви змінних.

In [26]:
table['Variable']=data.keys()
table

                Variable Statistics Distribution
0  Normal Distribution_1        NaN          NaN
1  Normal Distribution_2        NaN          NaN
2  Normal Distribution_3        NaN          NaN
3  Uniform Distribution1        NaN          NaN
4     Beta distribution.        NaN          NaN
5  Uniform Distribution2        NaN          NaN

5. Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".

In [27]:
table["Distribution"]=['normal' if 'Normal Distribution' in x else 'non-normal'
                          for x in table["Variable"]]
table

                Variable Statistics Distribution
0  Normal Distribution_1        NaN       normal
1  Normal Distribution_2        NaN       normal
2  Normal Distribution_3        NaN       normal
3  Uniform Distribution1        NaN   non-normal
4     Beta distribution.        NaN   non-normal
5  Uniform Distribution2        NaN   non-normal

In [42]:
table.describe()

                     Variable Statistics Distribution
count                       6          6            6
unique                      6          1            2
top     Normal Distribution_3         dd   non-normal
freq                        1          6            3

6. Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].

In [67]:
for x in range(table.shape[0]): 
    for val in data.values():
        if 'normal' in table["Variable"][x]:
                table['Statistics'][x]=str(np.mean(val)), str(np.std(val))
        else:
            table['Statistics'][x]=str(np.median(val)), str(np.quantile(val,0.25)), str(np.quantile(val,0.75))
table

,Variable,Statistics,Distribution
0,Normal Distribution_1,"(0.6315563745891528, 0.2799596868332863, 0.834...",normal
1,Normal Distribution_2,"(0.6315563745891528, 0.2799596868332863, 0.834...",normal
2,Normal Distribution_3,"(0.6315563745891528, 0.2799596868332863, 0.834...",normal
3,Uniform Distribution1,"(0.6315563745891528, 0.2799596868332863, 0.834...",non-normal
4,Beta distribution.,"(0.6315563745891528, 0.2799596868332863, 0.834...",non-normal
5,Uniform Distribution2,"(0.6315563745891528, 0.2799596868332863, 0.834...",non-normal

7. Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

8. Зберегти таблицю в пдф форматі

In [68]:
pdf = matplotlib.backends.backend_pdf.PdfPages("output.pdf")
pdf.savefig(fig)
pdf.close()

NameError: name 'matplotlib' is not defined